[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nova.vim"]
	path = bundle/nova.vim
	url = git@github.com:zanglg/nova.vim.git
