[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	branch = master
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "bundle/vim-latex-suite"]
	path = bundle/vim-latex-suite
	url = https://github.com/gerw/vim-latex-suite
	branch = master
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "bundle/nova.vim"]
	path = bundle/nova.vim
	url = git@github.com:zanglg/nova.vim.git
	branch = master
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
	branch = master
[submodule "bundle/vim-solarized8"]
	path = bundle/vim-solarized8
	url = git@github.com:lifepillar/vim-solarized8.git
	branch = master
[submodule "bundle/vim-wwdc16-theme"]
	path = bundle/vim-wwdc16-theme
	url = git@github.com:lifepillar/vim-wwdc16-theme.git
	branch = master
[submodule "bundle/vim-searchindex"]
	path = bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
	branch = master
[submodule "bundle/sslsecure.vim"]
	path = bundle/sslsecure.vim
	url = https://github.com/chr4/sslsecure.vim.git
	branch = master
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	branch = master
